body{
    background-color:rgb(216, 196, 196);
}

h1{
    font-size: 35px;
}

input{
    width: 30%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: none;
    border-radius: 15px;
    

}