body{
    background-color:rgb(209, 223, 11);
}

h1{
    font-size: 38px;
}

input[type=text]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    box-sizing:border-box;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;    
}

input[type=num]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-right: 39px;
    outline: none;
    box-sizing:border-box;
    border: none;
    border-radius: 15px;
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

input[type=password]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing:border-box;
    border: none;
    margin-right: 75px;
    outline: none;
    border-radius: 15px;
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

input[type=submit]{
    background-color: beige;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    margin: 4px 2px;
    margin-left: 15px;
    box-sizing:border-box;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

select{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-right: 60px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: beige;
    color: black;

}

.container{
    background-color: beige;
    border-style: hidden;
    border-radius: 15px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 8px -6px black;
}

@media screen and (max-width:900px){
    .main-container{
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: space-evenly;

    }
}  